
.name {
    color: var(--headerText);
    background-color: var(--headerBackground);
    padding: 10px;
}

.name h3  {
    margin: 0;
    margin-inline: 10px;
    font-weight: 100;
}

.table{
    /* display: flex; */
    /* align-items: center; */
    background: white;
    margin: 20px;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loadingContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(109, 117, 119, 0.2);
}

