<main class="main" [formGroup]="form">
  <div class="parentDiv">
    <div class="sourceDiv">
      <div class="sourceDivchild">
        <div class="sourceDivGrandChild">
          <input
            type="radio"
            id="Simba"
            formControlName="source"
            value="Simba"
            (change)="onSourceChange('Simba')"
          />
          <label for="Simba">Simba</label>
        </div>
        <div class="sourceDivGrandChild">
          <input
            type="radio"
            id="customerPortal"
            formControlName="source"
            value="Customer Portal"
            (change)="onSourceChange('Customer Portal')"
          />
          <label for="customerPortal">Customer Portal</label>
        </div>
      </div>
    </div>
    <div class="cliendIdDiv" *ngIf="showClientId">
      <div class="clientIdDivChild">
        <label for="clientId">Enter Client ID</label>
        <input type="text" id="clientId" formControlName="clientId" />
      </div>
      <div class="clientIdDivChild">
        <label for="userId">Enter User Id</label>
        <input type="text" id="userId" formControlName="userId" />
      </div>
    </div>
    <div class="sourceDependentDiv">
      <div class="sourceDependentDivChild">
        <label for="claimType"> Select Claim Type</label>
        <select formControlName="claimType">
          <option *ngIf="showClaimIntimation" value="Claim Intimation">
            Claim Intimation
          </option>
          <option *ngIf="showClaimMis" value="Claim MIS">Claim MIS</option>
          <option *ngIf="showViewClaimStatus" value="View Claim Status">
            View Claim Status
          </option>
        </select>
      </div>

      <div class="PolicyInformationDiv">
        <div class="PolicyInformationChildDiv">
          <label for="policyNo">Enter Policy Number</label>
          <input type="text" id="policyNo" formControlName="policyNo" />
        </div>
      </div>
    </div>
    <button class="searchBtn" (click)="onSubmit()">Search</button>

    <div></div>
  </div>
</main>
