<body>
  <main>
    <div class="mainDiv">
      <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
        <div class="parentElement">
          <div class="componentDiv1">
            <h6>Customer Name</h6>
            <input type="text" formControlName="customerName" readonly />
          </div>

          <div class="componentDiv1">
            <h6>Policy Number</h6>
            <input type="text" formControlName="policyNumber"  readonly/>
          </div>

          <div class="componentDiv1">
            <h6>Registration Number</h6>
            <input type="text" formControlName="registrationNumber" readonly />
          </div>

          <!-- <div class="componentDiv1">
            <h6>Make</h6>
            <input type="text" formControlName="make" />
          </div> -->

          <!-- <div class="componentDiv1">
            <h6>Model</h6>
            <input type="text" formControlName="model" />
          </div> -->

          <div class="componentDiv1">
            <h6>Customer Email id</h6>
            <input type="text" formControlName="customerEmailId" readonly/>
          </div>

          <div class="componentDiv1">
            <h6>Mobile Number</h6>
            <input type="text" formControlName="customerMobileNumber" readonly />
          </div>
        </div>

        <div class="mainDiv2">
          <div class="parentElement2">
            <div class="componentDiv1">
              <h6>Date of Accident/Theft<span class="required"> * </span></h6>
              <input type="datetime-local" formControlName="AccidentDateTime" />
              <div *ngIf="claimForm.controls['AccidentDateTime'].invalid && isSubmitted">
                <span class="error">Accident Date & Time is required</span>
              </div>
            </div>

            <!-- <div class="componentDiv1">
              <h6>Select Type of claim</h6>
              <select formControlName="ModeOfIntimation">
                <option value="Email">Online</option> -->
                <!-- <option value="Offline">Offline</option> -->
                
              <!-- </select>
            </div> -->

            <!-- <div class="componentDiv1">
              <h6>Self Survey?</h6>
              <input type="text" formControlName="selfSurvey" placeholder="Yes/No" />
            </div> -->

            <!-- <div class="componentDiv1">
              <h6>File Upload</h6>
              <input type="file" class="file-upload" formControlName="fileUpload" />
            </div> -->
            <div class="componentDiv1">
              <h6>Loss Description<span class="required"> * </span></h6>
              <input type="text" formControlName="LossDescription" placeholder="Please describe loss" />
              <div *ngIf="claimForm.controls['LossDescription'].invalid && isSubmitted">
                <span class="error">Loss description is required</span>
              </div>
            </div>
            <div class="componentDiv1">
              <h6>Loss City<span class="required"> * </span></h6>
              <input type="text" formControlName="LossCity" placeholder="Please enter loss city" />
              <div *ngIf="claimForm.controls['LossCity'].invalid && isSubmitted">
                <span class="error">Loss city is required</span>
              </div>
            </div>
            <div class="componentDiv1">
              <h6>Loss State<span class="required"> * </span></h6>
              <select formControlName="LossState">
                <option value="Maharashtra">Maharashtra</option>
                <option value="Gujrat">Gujrat</option>
                <div *ngIf="claimForm.controls['LossState'].invalid && isSubmitted">
                  <span class="error">Loss State is required</span>
                </div>
              </select>
            </div>
          


            <!-- <div class="componentDiv1">
              <h6>Location of Accident - Mumbai?</h6>
              <input type="text" formControlName="locationOfAccident" placeholder="Yes/No" />
            </div> -->
            <div class="componentDiv1">
              <h6>Driver Name<span class="required"> * </span></h6>
              <input type="text" formControlName="DriverName" placeholder="Please enter driver name" />
              <div *ngIf="claimForm.controls['DriverName'].invalid && isSubmitted">
                <span class="error">Driver's name is required</span>
              </div>
           
            </div>
            <div class="componentDiv1">
              <h6>Driving License Number<span class="required"> * </span></h6>
              <input type="text" formControlName="DrivingLicenseNumber" placeholder="Please enter driver name" />
              <div *ngIf="claimForm.controls['DrivingLicenseNumber'].invalid && isSubmitted">
                <span class="error">Driving License number is required</span>
              </div>
            </div>
            <div class="componentDiv1">
              <h6>Garage Name<span class="required"> * </span></h6>
              <input type="text" formControlName="workshopName" placeholder="Please enter workshop name" />
              <div *ngIf="claimForm.controls['workshopName'].invalid && isSubmitted">
                <span class="error">Workshop name is required</span>
              </div>
            </div>
            <div class="componentDiv1">
              <h6>Garage Address<span class="required"> * </span></h6>
              <input type="text" formControlName="SurveyPlaceOrGarageNameAddress" placeholder="Enter garage details" />
              <div *ngIf="claimForm.controls['SurveyPlaceOrGarageNameAddress'].invalid && isSubmitted">
                <span class="error">Survey place or Garage Address is required</span>
              </div>
            </div>
            <!-- <div class="componentDiv1">
              <h6>Nature of Loss</h6>
              <select formControlName="NatureOfLoss">
                <option value="Motor OD">Motor OD</option>
              </select>
            </div> -->
        
         
            <div class="componentDiv1">
              <h6>Claim Servicing Branch<span class="required"> * </span></h6>
              <input type="text" formControlName="claimServicingBranch" placeholder="Enter Claim Servicing Branch Name">
              <div *ngIf="claimForm.controls['claimServicingBranch'].invalid && isSubmitted">
                <span class="error">Claim Servicing branch is required</span>
              </div>
            </div>
            <div class="componentDiv1">
              <h6>Is Insured?<span class="required"> * </span></h6>
              <select formControlName="isInsured">
                <option value="Y">Yes</option>
                <option value="N">No</option>
                
              </select>
              <div *ngIf="claimForm.controls['isInsured'].invalid && isSubmitted">
                <span class="error">Insured Details are required</span>
              </div>
            </div>


            <div class="componentDiv1" id="lossDetails">
              <h6>Estimated Claim Amount<span class="required"> * </span></h6>
              <input type="text" formControlName="EstimatedClaimAmount" placeholder="Please enter estimated claim amount" />
              <div *ngIf="claimForm.controls['EstimatedClaimAmount'].invalid && isSubmitted">
                <span class="error">Estimated claim amount is required</span>
              </div>
            </div>

            <div class="componentDiv1">
              <h6>Remarks<span class="required"> * </span></h6>
              <input type="text" formControlName="remarks" placeholder="Please enter remarks" />
              <div *ngIf="claimForm.controls['remarks'].invalid && isSubmitted">
                <span class="error">Remarks are required</span>
              </div>
            </div>

            <div class="componentDiv1" id="declaration">
              <input type="checkbox" formControlName="declaration" />
              <h5>I hereby confirm that the details provided by me are correct and I authorize SBI General Insurance to proceed further for claim process based on the information provided by me<span class="required"> * </span></h5>
              <div *ngIf="claimForm.controls['declaration'].invalid && isSubmitted">
                <span class="error">Declaration is required</span>
              </div>
            </div>

            <div class="componentDiv1">
              <button type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</body>
