<body>
  <main>
    <div class="mainDiv">
      <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
        <div class="parentElement">
          <div class="componentDiv1">
            <h6>Customer Name</h6>
            <input type="text" formControlName="customerName" />
          </div>

          <div class="componentDiv1">
            <h6>Policy Number</h6>
            <input type="text" formControlName="policyNumber" />
          </div>

          <div class="componentDiv1">
            <h6>Registration Number</h6>
            <input type="text" formControlName="registrationNumber" />
          </div>

          <div class="componentDiv1">
            <h6>Make</h6>
            <input type="text" formControlName="make" />
          </div>

          <div class="componentDiv1">
            <h6>Model</h6>
            <input type="text" formControlName="model" />
          </div>

          <div class="componentDiv1">
            <h6>Customer Email id</h6>
            <input type="text" formControlName="customerEmailId" />
          </div>

          <div class="componentDiv1">
            <h6>Mobile Number</h6>
            <input type="text" formControlName="customerMobileNumber" />
          </div>
        </div>

        <div class="mainDiv2">
          <div class="parentElement2">
            <div class="componentDiv1">
              <h6>Date of Accident/Theft</h6>
              <input type="datetime-local" formControlName="AccidentDateTime" />
            </div>

            <div class="componentDiv1">
              <h6>Select Type of claim</h6>
              <select formControlName="ModeOfIntimation">
                <option value="Email">Online</option>
                <!-- <option value="Offline">Offline</option> -->
                
              </select>
            </div>

            <!-- <div class="componentDiv1">
              <h6>Self Survey?</h6>
              <input type="text" formControlName="selfSurvey" placeholder="Yes/No" />
            </div> -->

            <!-- <div class="componentDiv1">
              <h6>File Upload</h6>
              <input type="file" class="file-upload" formControlName="fileUpload" />
            </div> -->
            <div class="componentDiv1">
              <h6>Loss City</h6>
              <input type="text" formControlName="LossCity" placeholder="Please enter loss city" />
            </div>
            <div class="componentDiv1">
              <h6>Loss State</h6>
              <select formControlName="LossState">
                <option value="Maharashtra">Maharashtra</option>
                <option value="Gujrat">Gujrat</option>
                <option value="Punjab">Punjab</option>
                <option value="Uttar Pradesh">UP</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                
              </select>
            </div>

            <!-- <div class="componentDiv1">
              <h6>Location of Accident - Mumbai?</h6>
              <input type="text" formControlName="locationOfAccident" placeholder="Yes/No" />
            </div> -->
            <div class="componentDiv1">
              <h6>Driver Name</h6>
              <input type="text" formControlName="DriverName" placeholder="Please enter driver name" />
            </div>
            <div class="componentDiv1">
              <h6>Driving License Number</h6>
              <input type="text" formControlName="DrivingLicenseNumber" placeholder="Please enter driver name" />
            </div>
            <div class="componentDiv1">
              <h6>Garage Name</h6>
              <input type="text" formControlName="workshopName" placeholder="Please enter workshop name" />
            </div>
            <div class="componentDiv1">
              <h6>Nature of Loss</h6>
              <select formControlName="NatureOfLoss">
                <option value="Motor OD">Motor OD</option>
              </select>
            </div>
            <div class="componentDiv1">
              <h6>Loss Description</h6>
              <input type="text" formControlName="LossDescription" placeholder="Please describe loss" />
            </div>

            <div class="componentDiv1">
              <h6>Garage Address</h6>
              <input type="text" formControlName="SurveyPlaceOrGarageNameAddress" placeholder="Enter garage details" />
            </div>
            <div class="componentDiv1">
              <h6>Claim Servicing Branch</h6>
              <input type="text" formControlName="claimServicingBranch" placeholder="Enter Claim Servicing Branch Name">
            </div>
            <div class="componentDiv1">
              <h6>Is Insured?</h6>
              <select formControlName="isInsured">
                <option value="Y">Yes</option>
                <option value="N">No</option>
                
              </select>
            </div>


            <div class="componentDiv1" id="lossDetails">
              <h6>Estimated Claim Amount</h6>
              <input type="text" formControlName="EstimatedClaimAmount" placeholder="Please enter estimated claim amount" />
            </div>

            <div class="componentDiv1">
              <h6>Remarks</h6>
              <input type="text" formControlName="remarks" placeholder="Please enter remarks" />
            </div>

            <div class="componentDiv1" id="declaration">
              <input type="checkbox" formControlName="declaration" />
              <h5>I hereby confirm that the details provided by me are correct and I authorize SBI General Insurance to proceed further for claim process based on the information provided by me</h5>
            </div>

            <div class="componentDiv1">
              <button type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</body>
