.heading{
    display: flex;
    align-items: center;
    background: white;
    margin: 20px;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   

}
.heading h3{
    color: #8e057e;
    padding-right: 25px;
}
.heading input{
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 30px;
    width: 250px;

}
.searchButton{
    height: 35px;
    width: 100px;
    border: 1px solid;
    border-radius: 7px;
    color: white;
    background-color:#8e057e ;
    cursor: pointer;
    margin-left: 5px;
}

.name {
    color: white;
    background-color: #0d1963;
    padding: 10px;
}

.name h3  {
    margin: 0;
    margin-inline: 10px;
}
