<!-- <div class="loadingContainer" *ngIf="isLoading">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header></app-header>

<app-main-content (lobSelected)="onLobSelected($event)" (responseSelected)="onResponseSelected($event)"></app-main-content>


<div *ngIf="productName === 'Health'">
    <app-health-claim-intimation  [getResponse]="response"></app-health-claim-intimation>
</div>

<div *ngIf="productName === 'Motor'">
 <app-motor-claim-intimation [getResponse]="response"></app-motor-claim-intimation>
</div> -->



<router-outlet></router-outlet>