<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover"
>
  <thead>
    <tr>
      <th *ngFor="let columnName of columnNames">{{ columnName }}</th>
      <th>View Current Status</th>
    </tr>
  </thead>
  <tbody>
    @for (data of tableDataList; track data) {
    <tr >
      <td *ngFor="let columnName of columnNames">{{ data[columnMapping[columnName]] }}</td>
      <td><button (click)="logRowDetails(data)">Check Current Status</button></td>
    </tr>
    }
  </tbody>
</table>
