/* .header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    box-shadow: 4px 3px 23px 0px rgb(102, 102, 102);
    background:linear-gradient(90deg , rgba(255,255,255,0.9668242296918768), #f7f6f6,rgba(251,251,251,1) 100%);
}
.header h2{
    color: var(--purple-color);
}
.header img{
    mix-blend-mode: multiply;
}

.name{
    padding-left: 10px;
}

.simbaImg {
    height: 60px;
}

.simbaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: 10px;
}

.simbaImg {
    height: 60px;
    background-image: url('/simba_logo.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.hamburger_icon {
    cursor: pointer;
    background-image: url('/hamburger_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.hamburger_icon {
    cursor: pointer;
} */


.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    box-shadow: 4px 3px 23px 0px rgb(102, 102, 102);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.97), #f7f6f6, rgba(251, 251, 251, 1) 100%);
}

.header h2 {
    color: #8e057e;
}

.header img {
    mix-blend-mode: multiply;
}

/* .name {
    padding-left: 10px;
} */

.name {
    color: var(--headerText);
    background-color: var(--headerBackground);
    padding: 10px;
}

.name h3  {
    margin: 0;
    margin-inline: 10px;
    font-weight: 100;
}

.simbaImg {
    height: 60px;
    width: 150px; /* Adjusted to match the height */
    background-image: url('/simba_logo.JPG');
    background-size: contain;
    background-repeat: no-repeat;
}

.simbaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: 10px;
}

.hamburger_icon {
    cursor: pointer;
    background-image: url('/hamburger_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
}